<%= page_title("Resultfiles") %>
<br />
<br />
<table width="100%">
  <tr class="row-header">
    <th width="70%">Name</th>
    <th width="30%">Action</th>
  </tr>
<%= render(:partial => "resultfile", :collection => @resultfiles) %>
</table>

<%= render(:partial => "shared/pagination", :locals => { :items => @resultfiles }) %>
