<tr valign="top">
  <td><%=h omssa_parameter_file.id %></td>
  <td><%=h omssa_parameter_file.name %></td>
    </td>
  <td><%= link_to 'Show', omssa_parameter_file %> 
  <%= link_to('Delete', omssa_parameter_file, :confirm => 'Are you sure?', :method => :delete)  %></td>
</tr>
