<tr valign="top">
  <td><%=h omssa_parameter_file.id %></td>
  <td><%= link_to(omssa_parameter_file.name, omssa_parameter_file) %></td>
  <td><%= link_to('Delete', omssa_parameter_file, :confirm => 'Are you sure?', :method => :delete)  %></td>
</tr>
