<%= page_title("OMSSA Parameter Files") %>
<br />
<%= link_to(image_tag("buttons/new_parameter_file.png", :alt =>'New parameter file', :border => 0), new_omssa_parameter_file_path) %>
<br />
<br />
<table width="100%">
  <tr class="row-header">
    <th>ID</th>
    <th width="70%">Name<br />(click to view)</th>
    <th>Action</th>
  </tr>
<%= render(:partial => "omssa_parameter_file", :collection => @omssa_parameter_files) %>
</table>

<%= render(:partial => "shared/pagination", :locals => { :items => @omssa_parameter_files }) %>