<%= page_title("Search Databases") %>
<%= link_to('New search database', new_search_database_path) %>
<br />
<br />
<table width="100%">
  <tr class="row-header">
    <th width="30%">Name</th>
    <th width="10%">Type</th>
    <th width="30%">Filename</th>
    <th width="10%">Version</th>
    <th width="10%">Status</th>
    <th width="10%">Action</th>
  </tr>
<%= render(:partial => "search_database", :collection => @search_databases) %>
</table>

<%= render(:partial => "shared/pagination", :locals => { :items => @search_databases }) %>
