<tr valign="top">
  <td><%= link_to(job.name, job) %></td>
  <td><%=h job.status %></td>
  <td><%= complete_bar(job) %></td>
  <td><%= link_to('Delete', job, :confirm => 'Are you sure?', :method => :delete) %></td>
</tr>
