<% content_for :head do %>
  <meta http-equiv="refresh" content="60" />
<% end %> 

<%= page_title("Jobs") %>
<br />
<%= link_to(image_tag("buttons/create_new_job.png", :alt =>'New job', :border => 0), new_job_path) %>
<br />
<br />
<table width="100%">
  <tr class="row-header">
    <th>Name</th>
    <th>Status</th>
    <th>Progress</th>
    <th>Action</th>
  </tr>
<%= render(:partial => "job", :collection => @jobs) %>
</table>

<%= render(:partial => "shared/pagination", :locals => { :items => @jobs }) %>
