<table width="100%">
  <tr class="row-header">
    <th>Status</th>
    <th>MGF File</th>
    <th>Filesize</th>
    <th>Node - PID</th>
    <th>Job ID</th>
    <th>Searcher</th>
    <th>Sent at (UTC)</th>
    <th>Processing Time (in seconds)</th>
  </tr>
<%= render(:partial => "shared/chunk", :collection => chunks) %>
</table>
