<div id="header">
  <%= image_tag('layout/mcw_logo.gif', :class => "mcw-logo") %>
  <%= image_tag('layout/logo.png', :class => "vipdac-logo") %>
  <%= image_tag('layout/bbc_logo.gif', :class => "bbc-logo") %>
</div>

