<tr valign="top">
  <td><%=h tandem_parameter_file.id %></td>
  <td><%= link_to(tandem_parameter_file.name, tandem_parameter_file) %></td>
  <td><%= link_to('Delete', tandem_parameter_file, :confirm => 'Are you sure?', :method => :delete)  %></td>
</tr>
